/** estilos personalizados*/

body{
    font-size: 1.2rem;
}
.fondo-nav{
    background: #13151d !important;
}

#inicio{
    /* background: url("../img/adults-analysis-banking-1451447.jpg"); */
    background: url("../img/seguridad-privada.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    width: 100%;
    height: 700%;
    background: rgba(0, 0, 0, 0.7) ;
    color: #fff;
    padding-top: 400px;
}
.llamado-accion{
/* background-color: #df2176; */
background-color: #7f7f7f;
}

.icon-color{
    color: #df2176;
}
.copyright{
    font-size: 12px;
    font-weight: bold;
}


.animar{
    font-size: 1.5em;
    font-family: monospace;
    letter-spacing: 0.10em;
    border-right: 0.15em solid orange;
    overflow: hidden;

    white-space: nowrap;
    animation: typing 8.5s steps(30, end) infinite, parpadeo step-end 0.5s infinite;
}

@keyframes typing {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes parpadeo {
    from,
    to{
        border-color:transparent ;
    }
    50%
    {
        border-color:orange;

    }
}